@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul , li {
    list-style: none;
}

*::selection {
    background: transparent;
    color: #304CFD;
}

:root{
    --white: white;
    --primary: #28AF60;
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Cuprum', sans-serif;
    --red: red;
    --danger:  rgb(244, 185, 76);;
}

a {
    text-decoration: none!important;
    color: black;
}

a:hover {
    text-decoration: none!important;
    color: var(--primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn:focus{
    outline: none;
}

.block{
    display: block!important;
}

.none{
    display: none!important;
}

html,body{cursor:url("https://1.bp.blogspot.com/-qbWo9mPKO2Y/YL9utYdQBdI/AAAAAAAAFs4/mtjGu6u2uGwtJsT4gZG4lbhLV1a5lG6OQCLcBGAsYHQ/s0/mouse-f1.png"), auto;}
a:hover{cursor:url("https://1.bp.blogspot.com/-nYv2dLl3oXY/YL9utYBCh8I/AAAAAAAAFtA/wII4lVw5w4k-4isGMY41heTqk8U4TJujgCLcBGAsYHQ/s0/mouse-f2.png"), auto;}

  